* {
    background:                  #101418;
    foreground:                  #e0e2e8;

    primary:                     #99ccfa;
    on-primary:                  #003351;
    primary-fixed:                #cce5ff;
    on-primary-fixed-trans:       #99ccfaCC;

    secondary:                   #b8c8da;
    on-secondary:                #23323f;
    secondary-container:         #394857;

    tertiary:                    #d1bfe7;
    on-tertiary:                 #372a4a;

    surface:                     #101418;
    surface-variant:             #42474e;
    on-surface:                  #e0e2e8;

    outline:                     #8c9198;
    error:                       #ffb4ab;

    accent:                      #d1bfe7;
}