* {
    background:                  #101417;
    foreground:                  #e0e3e8;

    primary:                     #97ccf9;
    on-primary:                  #003450;
    primary-fixed:                #cbe6ff;
    on-primary-fixed-trans:       #97ccf9CC;

    secondary:                   #b8c8d9;
    on-secondary:                #22323f;
    secondary-container:         #394856;

    tertiary:                    #d0bfe7;
    on-tertiary:                 #362b4a;

    surface:                     #101417;
    surface-variant:             #41474d;
    on-surface:                  #e0e3e8;

    outline:                     #8b9198;
    error:                       #ffb4ab;

    accent:                      #d0bfe7;
}