* {
    font-family: "JetBrainsMono Nerd Font Propo";
    /* font-size: 13px; */
    min-height: 0;
    font-size: 100%;
}

window#waybar {
    background-color: transparent;
    color: #ffffff;
    min-height: 14px;
}

.modules-right,
.modules-center, 
.modules-left {
	border-radius: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 4px;
	padding-left: 4px;
}

/* ----- Right ----- */

.modules-right {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 12px;
    padding: 4px;
}


#network, 
#bluetooth, 
#pulseaudio, 
#custom-power {
    background-color: #85c1dc;
    border-radius: 10px;
    color: black;
    padding: 2 12px;
    /* min-width: 14px; */
    min-height: 26px;
    margin: 2px 3px;
    padding: 0 8px;
}


/* ----- Left ----- */

#custom-search, 
#custom-notification {
    background-color: rgba(0, 0, 0, 0.6);
}

#custom-search, 
#custom-notification {
    color: #cdd6f4;
    border-radius: 10px;
    border: 5px;
    margin: 2px 3px;
    padding: 0 8px;
    min-width: 14px; 
    min-height: 14px;
}

#clock {
    background-color: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    border-radius: 10px;
    padding: 4 12px;

}

#workspaces {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 12px;
    padding: 0 4px;
    margin: 2px 3px;
}

#workspaces button {
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 4px;
	padding-left: 4px;
    margin: 2px;
    color: #ffffff;
    background: transparent;
    border-radius: 10px;
    min-height: 26px;
    min-width: 26px;
    transition: all 0.2s ease-in-out;
}

#workspaces button.active {
    background-color: #89b4fa;
    color: #000000;
    border-radius: 10px;
    padding: 0 14px;
}

#workspaces button:hover {
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 10px;
}

#custom-power {
    font-size: 16;
}

#bluetooth {
    font-size: 14;
}
