@import "colors.css";
* {
    font-family: "JetBrainsMono Nerd Font Propo";
    font-size: 100%;
    min-height: 0;
    border: none;
    box-shadow: none;
}

window#waybar {
    background-color: transparent;
    color: #ffffff;
}

/* ================= Uniform Buttons ================= */

#custom-search,
#custom-notification,
#network,
#bluetooth,
#pulseaudio,
#custom-power {
    background: rgba(0,0,0,0.6);
    color: #ffffff;

    border-radius: 10px;

    min-width: 22px;

    padding: 0 10px;
    margin: 2px;

    transition: all 0.2s ease;
}

#custom-search,
#custom-notification {
    background: rgba(0,0,0,0.6);
    color: #ffffff;

}

#custom-power {
    font-size: 18px;
}


/* ================= Spotify Player ================= */

#custom-spotify-prev,
#custom-spotify-play,
#custom-spotify-next,
#custom-spotify {
  background-color: rgba(0,0,0,0.6);
  color: #ffffff;
  padding: 0 10px;
  border: none;
  box-shadow: none;
  margin: 2px 0;
}

#custom-spotify-prev, 
#custom-spotify-next, 
#custom-spotify-play {
    font-size: 15px;
}

#custom-spotify {
  border-radius: 10px 0 0 10px;
  padding-right: 12px;
}

#custom-spotify-next {
  border-radius: 0 10px 10px 0;
}

/* ================= Clock ================= */

#clock {
    background: rgba(0,0,0,0.6);
    color: white;

    border-radius: 10px;

    padding: 0 14px;

    margin: 2px;
}

/* ================= Workspaces ================= */

#workspaces {
    background: rgba(0,0,0,0.6);

    border-radius: 10px;
    padding: 4px;
    margin: 2px;
}

#workspaces button {
    min-width: 22px;
    padding: 0;
    margin: 2px;

    font-size: 14px;
    font-weight: normal;

    border: none;
    border-radius: 8px;
    box-shadow: none;

    transition: none;
}

#workspaces button:hover,
#workspaces button:focus,
#workspaces button:active {
    min-width: 22px;
    min-height: 22px;
    padding: 0 4px;

    font-size: 14px;
    font-weight: normal;

    background: transparent;
    color: inherit;

    border: none;
    box-shadow: none;
}

#workspaces button:hover {
    background-color: rgba(0,0,0,0.6);
}

#workspaces button.active {
    min-width: 22px;
    min-height: 22px;
    padding: 0 2px;

    font-size: 14px;
    font-weight: normal;

    background: @primary;
    color: black;
}


